<div class="container-fluid">
	<div class="row">

		<div class="col-md-12"><h2 class="page-header text-center"><strong>Demonstração do Resultado do Exercício</strong></h2></div>

		<div class="col-md-12 "><h4 class="page-header"><strong >Período: </strong><%= params[:date_init] %> à <%= params[:date_final] %></h4></div>
	</div>

	<div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
      <strong><%= @receita_operacional.code %> <%= @receita_operacional.name %></strong>
        <table class="table table-active">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nome </th>
              <th>Saldo</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          
          <% @receita_operacional.descendants.analytic.each do |receita| %>
          
          <tbody>
            <tr>
              <td><%= receita.code %></td>
              <td><%= receita.name %></td>
              <td><%= receita.balances.date_search(@init_date, @final_date).sum(:value) %></td>
              
            </tr>
          </tbody>
          <% end %>

          
       
          </table>
          
        </div>
      </div>
  </div>
  <!-- custo -->

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
      <strong><%= @custo.code %> <%= @custo.name %></strong>
        <table class="table table-active">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nome </th>
              <th>Saldo</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          
          <% @custo.descendants.analytic.each do |custo| %>
          
          <tbody>
            <tr>
              <td><%= custo.code %></td>
              <td><%= custo.name %></td>
              <td><%= custo.balances.date_search(@init_date, @final_date).sum(:value) %></td>
              
            </tr>
          </tbody>
          <% end %>

          
       
          </table>
          
        </div>
      </div>
  </div>
</div>

</div>

<!-- custo vendas -->

