<div class="container-fluid">
	<div class="row">

		<div class="col-md-12"><h2 class="page-header text-center"><strong>Demonstração do Resultado do Exercício</strong></h2></div>

		<div class="col-md-12 "><h4 class="page-header"><strong >Período: </strong><%= params[:date_init] %> à <%= params[:date_final] %></h4></div>
	</div>

	<div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <%= render 'receita_operacional_bruta' %>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
         <%= render 'custos' %>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
         <strong class='pull-rigth'> Lucro Bruto: <%= @receita_bruta + @custo_total if @receita_bruta and @custo_total %></strong>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
          <%= render 'despesas_operacionais' %>
        </div>
      </div>
  </div>

</div>

</div>



       

<!-- custo vendas -->

