
<div class="row ">
  <div class="col-md-12">
    <div class="col-md-6">
        <div class="field">
           
            <%= f.input :name, label: "Nome" %>
        </div>
        <div class="field" >
          <%= f.input :cnpj, label: "CNPJ", placeholder: "Insira o CNPJ da empresa" %>
        </div>              
    </div>

    <div class="col-md-6">
        <div class="field" >
          <%= f.input :fantasy_name, label: "Nome Fantasia" %>
        </div>  
    </div>
    <div class="col-md-8">
      <div class="field" >
      <%= f.label "Denomonição Social"  %>
        <%= f.select :social_denomination, ["Sociedade Limitada - Ltda.", "Sociedade Anônima - S.A.", "Empresário Individual", "Empresa Individual de Responsabilidade Limitada"]%>
      </div>
    </div>
  </div>

</div>

  
