    
        <div class="row ">
            <div class="col-md-12">
                <div class="col-md-6">
                  <div class="field">
                    <%= f.input :phone, label: "Telefone" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="field" >
                   <%= f.input :suprama, label: "SUPRAMA", placeholder: "Insira o SUPRAMA da empresa" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="field" >
                   <%= f.input :nire, label: "NIRE", placeholder: "Insira o NIRE da empresa" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="field" >
                    <%= f.input :state_insc, label: "Inscrição Estadual" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="field" >
                    <%= f.input :local_insc, label: "Inscrição Municipal" %>
                  </div>
                </div>
              <div class="col-md-8">
                <p>
                  <h3>Inicio das atividades:</h3>
                </p>
                <%= f.input :started_at %>
              </div>   

            </div>

            
        </div>

  
