
<div class="row ">
  <div class="col-md-12">
    <div class="col-md-6">
        <div class="field">
           
            <%= f.input :name, label: "Nome" %>
        </div>
        <div class="field" >
          <%= f.input :cnpj, label: "CNPJ", placeholder: "Insira o CNPJ da empresa" %>
        </div>              
    </div>

    <div class="col-md-6">
        <div class="field" >
          <%= f.input :fantasy_name, label: "Nome Fantasia" %>
        </div>  
    </div>
    <div class="col-md-8">
      <div class="field" >
        <%= f.input :social_denomination, label: "Denomonição Social"%>
      </div>
    </div>
      <div class="col-md-8">
        <%= f.text_field :started_at, label: "Início das atividades", class: "form-control date", placeholder: Time.now.strftime("%d/%m/%Y") %>
      </div>   
    
    <div class="col-md-6">
      <div class="field">
        <%= f.input :tipo, label: "Tipo" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="field">
        <%= f.input :phone, label: "Telefone" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="field">
        <%= f.input :capital, label: "Capital Social" %>
      </div>
    </div>
  </div>
</div>

  
