

<div class="container-fluid">
  <div class="col-md-12">
    
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <%= icon('dashboard', class: 'strong aumentaicon')%>Dashboard
          </div>
          
            
          <div class="col-xs-5 text-right">
            <%= link_to "Livro razão", "#", :class => "huge" %>
          </div>
        </div>
      </div>
          <%= form_tag ledger_path, :method => "get", class: "form-search" do %>
            <%= text_field_tag :name, params[:name], class:" search",placeholder: "Buscar" %>
            <%= button_tag(type: "submit") do %>
            <span class="fa fa-search"></span>
             <% end %>
            <% end %>
            
        <div class="col-md-12">
          <% @accounts.each do |account| %>
            <table class="table">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Nome</th>
                  <th>Descrição</th>
                  <th>Saldo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= account.code %></td>
                  <td><%= account.name %></td>
                  <td><%= account.description %></td>
                  <td><%= account.balance %></td>
                </tr>
              </tbody>
            </table>
            <% account.descendants.each do |child| %>
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-hover">
                    
                    <tbody>
                      <tr>
                        <td><%= child.code %></td>
                        <td><%= child.name %></td>
                       
                        <td><%= child.balance %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
    <div class="col-md-12"><%= will_paginate @accounts, class: "apple_pagination" %></div>
  </div>
</div>
