<div class="container">
  <div  class="row">
    <p id="notice"><%= notice %></p>

    <h1>Listing Accounts</h1>
    <div class="col-md-12">
      <% @accounts.each do |account| %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nome</th>
              <th>Descrição</th>
              <th>Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= account.code %></td>
              <td><%= link_to account.name ,account_path(account) %></td>
              <td><%= account.description %></td>
              <td><%= account.balance_value(account) %></td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-12">
            <% account.descendants.each do |child| %>
              <table class="table table-hover">
                
                <tbody>
                
                  <tr>
                    <td><%= child.code %></td>
                    <td><%= link_to child.name ,account_path(child) %></td>
                    <td><%= child.balance_value(child)%></td>
                  </tr>
            
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

      <%= link_to 'New Account', new_account_path, class: "btn btn-primary" %>

    </div>
  </div>
