<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @operation.value %>
</p>

<p>
  <strong>Release account:</strong>
  <%= @operation.release_account %>
</p>

<p>
  <strong>Retrieve account:</strong>
  <%= @operation.retrieve_account %>
</p>

<p>
  <strong>Operation date:</strong>
  <%= @operation.operation_date %>
</p>

<%= link_to 'Edit', edit_operation_path(@operation) %> |
<%= link_to 'Back', operations_path %>
